<script src="https://checkout.stripe.com/checkout.js"></script>

<!-- Fly to Singapore Form -->
<div class="img__wrap">
	<img id="image" src="/singapore.jpg">
<div class="img__description_layer">
	<form action="/chargeSingapore" method="POST" id="singaporeForm">
		<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= settings.publishable_key %>"
            data-description="Flight to Singapore + Hotel"
            data-amount="80000"
            data-label="Fly Singapore"
            data-locale="auto"></script>
    </form>
  </div>
</div>

<!-- Fly to Thailand Form -->
<div class="img__wrap">
	<img id="image" src="/thailand.jpg">
<div class="img__description_layer">
	<form action="/chargeThailand" method="POST">
		<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= settings.publishable_key %>"
            data-description="Flight to Thailand + Hotel"
            data-amount="80000"
            data-label="Fly Thailand"
            data-locale="auto"></script>
        </form>
  </div>
</div>

<!-- Fly to China Form -->
<div class="img__wrap">
	<img id="image" src="/china.jpg">
<div class="img__description_layer">
	<form action="/chargeChina" method="POST">
		<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= settings.publishable_key %>"
            data-description="Flight to China + Hotel"
            data-amount="80000"
            data-label="Fly China"
            data-locale="auto"></script>
        </form>
  </div>
</div>

<!-- Fly to Vietnam Form -->
<div class="img__wrap">
	<img id="image" src="/vietnam.jpg">
<div class="img__description_layer">
	<form action="/chargeVietnam" method="POST">
		<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= settings.publishable_key %>"
            data-description="Flight to Vietnam + Hotel"
            data-amount="80000"
            data-label="Fly Vietnam"
            data-locale="auto"></script>
        </form>
  </div>
</div>

  <!-- Fly to Cambodia Form -->
<div class="img__wrap">
	<img id="image" src="/cambodia.jpg">
<div class="img__description_layer">
	<form action="/chargeCambodia" method="POST">
		<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= settings.publishable_key %>"
            data-description="Flight to Cambodia + Hotel"
            data-amount="80000"
            data-label="Fly Cambodia"
            data-locale="auto"></script>
        </form>
  </div>
</div>

<!-- Travel Rewards Program -->
<!--<div class="img__wrap">
    <img id="image" src="/TravelRewards.jpg">
<div class="img__description_layer">
    <form action="/subscribeTravelRewards" method="POST">
        <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_16nh1JKh21099AqTmHdi91vj"
            data-name="Travel Rewards Program"
            data-description="Weekly Subscription"
            data-amount="1000"
            data-label="Subscribe to Travel Rewards Program">
        </script>
    </form>
  </div>
</div>-->
